.bienvenue {
	color: blue;
}

@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'Mapolice';
    src: url('police/ma_police.eot');
    src: url('police/ma_police.eot?#iefix') format('embedded-opentype'),
         url('police/ma_police.woff') format('woff'),
         url('police/ma_police.ttf') format('truetype'),
         url('police/ma_police.svg#Mapolice') format('svg');
}

h1 { /* Utilisation de la police qu'on vient de définir sur les titres */
    font-family: 'Mapolice', Arial, serif;
    font-size: 5em; /* Titres de 40 pixels */
    font-style: italic;
    color: blue;
    text-align: center;
    opacity: 0.5;
    border: 2px solid black;
}

.image_flottante {
    float: left;
}

.p_dessous {
    clear: both;
}

body {
    background: url("img/image_flottante.jpg") fixed no-repeat top center, url("img/background.jpg") fixed center;
    color: #604c4c;
    font-style: bold;
}

mark {
    background-color: red;
    color: black;
    border-radius: 10px
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: red;
   font-style: italic;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: green;
}

p:hover {
	color: pink;
}

p:active {
	background-color: green;
}

a:focus {
	background-color: pink;
}

p {
    color: green;
}